{% extends 'initial_access/base.html' %}
{% load static %}
{% block content %}
<h1>Questions part 1</h1>

<form class="form-container" method="post" action="/result/">
    {% csrf_token %}
    <div class="qblock">
        {% for q in questions %}
        <div class="question">{{q.questions}}{{q.question}}</div>
        <div class="option">
            <input type="radio" name="{{q.question}}" value="option_A">{{q.option_A}}</input>
            <input type="radio" name="{{q.question}}" value="option_B">{{q.option_B}}</input>
        </div>
        {% endfor %}
    </div>
    <div><button type="submit">Next</button></div>
</form>
{% endblock %}