{% extends 'initial_access/base.html' %}
{% block content %}
<h1>Questions part 2</h1>
<form class="form-container">
    {% csrf_token %}
    <div class="qblock">
        {% for q in quest %}
        <div class="question">{{q.question_id}}{{q.question}}</div>
        <div class="option">
            <input type="radio" for="optionA">{{q.option_A}}</input>
            <input type="radio" for="optionB">{{q.option_B}}</input>
        </div>
        {% endfor block %}
    </div>

</form>
{% endblock %}